# Python
venv/
__pycache__/
*.pyc
.DS_Store
.env

# Frontend
frontend/node_modules/
frontend/dist/
.vite/

# Generated
facturas/
.vercel
.env
.env.local
backend/
banners/


# Secrets
.lemon-*
.lemon-api-key
.lemon-webhook-secret
certs/
.env*
token
token.txt
pdf/
